<ul>
    <li><a href="@Url.Action("NewsFeed", "Home")">News Feed</a></li>
    <li><a href="@Url.Action("Search", "Search")">Search</a></li>
    <li><a href="@Url.Action("Overview", "Profile")">Profile</a></li>
    <li style="float:right"><a class="active" href="@Url.Action("Logout", "Account")">Logout</a></li>
</ul>
<div class="notification-container">
    <a href="@Url.Action("FriendRequests", "Home")">Follow Requests</a>
</div>
