<ul class="menu">
    <li><a href="@Url.Action("NewsFeed", "Home")">News Feed</a><hr></li>
    <li><a href="@Url.Action("Search", "Search")">Search</a><hr></li>
    <li><a href="@Url.Action("Overview", "Profile")">Profile</a><hr></li>
    <li><a href="@Url.Action("FriendRequests", "Home")">Follow Requests</a><hr></li>
    <li><a href="@Url.Action("Chat", "Message")">Messages</a><hr></li>
    <li style="float:right"><a class="active" href="@Url.Action("Logout", "Account")">Logout</a><hr></li>
</ul>


