@model SocialNetwork.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home";
}
<partial name="_Menu">
        <div class="content-wrapper">
            <div class="newpost-newsfeed">
                @Html.ActionLink("Post something", "Post", "Profile")<br />
            </div>
                @foreach (var post in Model.Posts)
                {
                    <div class="home-post-container">
                        <div class="postheader">
                            <a asp-controller="Profile" asp-action="SearchedProfile" asp-route-id="@post.UserId" class="username">
                                @post.Firstname
                                @post.Middlename
                                @post.Lastname
                            </a><br />
                            <a class="posttime">@post.Posted</a>
                        </div>
                        <div class="postmessage">
                            <a class="posttitle">@post.Title</a><br />
                            <a>@post.Message</a>
                        </div>
                        <div class="postimage">
                            <img src="data:image;base64,@Convert.ToBase64String(post.Image)">
                        </div>
                        <div class="likecontainer">
                            <a class="likeBtn" asp-controller="Home" asp-action="LikePost" asp-route-PostId="@post.PostId">Like</a>
                            <a class="postlikes">@post.Likes Like(s)</a>
                            <br />
                        </div>                        
                    </div>
                }
            </div>    