@model SocialNetwork.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}
<partial name="_Menu">
    <h2>Profile</h2>



                @Html.DisplayNameFor(model => model.Firstname)

                @Html.DisplayFor(model => model.Firstname)

                @Html.DisplayNameFor(model => model.Middlename)

                @Html.DisplayFor(model => model.Middlename)

                @Html.DisplayNameFor(model => model.Lastname)

                @Html.DisplayFor(model => model.Lastname)

                @Html.DisplayNameFor(model => model.Birthdate)

                @Html.DisplayFor(model => model.Birthdate)

                @Html.DisplayNameFor(model => model.Country)

                @Html.DisplayFor(model => model.Country)

                @Html.DisplayNameFor(model => model.City)

                @Html.DisplayFor(model => model.City)
