@model SocialNetwork.ViewModels.ProfileViewModel
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Profile";
}
<partial name="_Menu">
    <div class="content-wrapper">


        <div class="profile-left-wrapper">
            <div class="basic-container">
                <div class="username-display">
                    <p>
                        @Html.DisplayFor(model => model.Firstname)
                        @Html.DisplayFor(model => model.Middlename)
                        @Html.DisplayFor(model => model.Lastname)

                    </p>
                </div>
                <p style="color: grey; font-size: 14px">Birthday</p>
                <p style="margin-bottom: 26px;">@Html.DisplayFor(model => model.Birthdate)</p>
                <p style="color: grey; font-size: 14px">Country</p>
                <p style="margin-bottom: 26px;">@Html.DisplayFor(model => model.Country)</p>
                <p style="color: grey; font-size: 14px">City</p>
                <p style="margin-bottom: 26px;">@Html.DisplayFor(model => model.City)</p>
                <p style="color: grey; font-size: 14px">About @Html.DisplayFor(model => model.Firstname)</p>
                <p style="margin-bottom: 26px; line-height: 16px;">@Html.DisplayFor(model => model.Biography)</p>
                <div class="profileaction">
                    @if (Model.Id == Context.Session.GetInt32("Id"))
                    {
                        @Html.ActionLink("Edit profile", "Edit")<br />
                    }
                    else
                    {
                        if (Model.Requested == false)
                        {
                            if (Model.Added == false)
                            {
                                <a asp-controller="Profile" asp-action="SendFriendRequest" asp-route-RecieverId="@Model.Id">Follow</a>
                            }
                            else
                            {
                                <a style="color: #808080;">Following</a>
                            }
                        }
                        else if (Model.Requested == true)
                        {
                            <a style="color: #808080;">Requested</a>
                        }
                    }
                </div>
            </div>

            <div class="follower-container">
                <div class="follower-header">
                    <a>Followers (@Model.Followers.Count)</a>
                </div>
                @foreach (var item in Model.Followers)
                {
                    <div class="follower">
                        <a asp-controller="Profile" asp-action="SearchedProfile" asp-route-id="@item.Id" class="username">
                            @item.Firstname
                            @item.Middlename
                            @item.Lastname
                        </a>
                    </div>
                }
            </div>
        </div>

        @if (Model.Id == Context.Session.GetInt32("Id"))
        {
            <div class="newpost">
                @Html.ActionLink("New post", "Post")<br />
            </div>
        }
        @foreach (var item in Model.Posts)
        {
            <div class="post-container">

                <div class="postheader">
                    <a>@item.Firstname @item.Middlename @item.Lastname</a><br />
                    <a class="posttime">@item.Posted</a>
                </div>

                <div class="postmessage">
                    <a class="posttitle">@item.Title</a><br/>
                    <a>@item.Message</a>
                </div>
                <div class="likecontainer">
                    <a class="likeBtn" asp-controller="Home" asp-action="LikePost" asp-route-PostId="@item.PostId">Like</a>
                    <a class="postlikes">@item.Likes</a>
                    <br />
                </div>
            </div>
        }
    </div>
